body {
    background-image: url( '../Images/interface.png');
    background-repeat:no-repeat;
    background-position:top center;
    background-size:1280px;
    margin:0;

     /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout: none;            
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;             
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none; 
}

.block{
    position:absolute;
    background-size:60px;
    width:60px;
    height:60px;
    background-repeat:no-repeat;
    &.wall{
         background-image: url( '../Images/Wall.png')  ;
    }
    &.box{
         background-image: url( '../Images/Box.png') ;
         z-index:5;
         cursor:pointer;
         &.onTarget{
            background-image: url( '../Images/BoxOnTarget.png') ;
         }
          &.selected{
            background-image: url( '../Images/greenBox.png') ;
         }
    }
    &.floor{
         background-image: url( '../Images/Floor.png');
    }
    &.target{
         background-image: url( '../Images/Target.png');
    }
    &.player{
         background-image: url( '../Images/Ghost.png');
         z-index:10;
    }
}

.gameContainer{
    position:relative;
}

@media screen and (max-width: 900px) , screen and (max-height: 600px) {
    body{
        background:none;
    }
}